//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1160;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$bgColor: #FFFFFF;
$mainColor: rgba(#1F2041, 75%);
$purpleColor: #BC9CFF;
$greenColor: #6FCF97;

$fontFamily: "Montserrat";
$fontSize: 14;

//<ОБНУЛЕНИЯ>===========================================================================================================
@import '/src/assets/scss/utils/null.scss';
html,
body {
  font-size: $fontSize + px;
  background-color: $bgColor;
  color: $mainColor;
  font-family: $fontFamily;
}

//<ШРИФТЫ>==============================================================================================================
@import '/src/assets/scss/utils/fonts.scss';
@import '/src/assets/scss/utils/icons.scss';
h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
h2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}
h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
p {
  line-height: 24px;
  color: rgba($mainColor, 0.75);
}

//<ОБОЛОЧКА>============================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
//<ОСНОВНАЯ СЕТКА>======================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  padding: 0px 15px;
  margin: 0 auto;
}
//<ПОДКЛЮЧЕНИЯ>=========================================================================================================
@import 'src/assets/scss/utils/header.scss';
@import 'src/assets/scss/utils/footer.scss';
@import 'src/assets/scss/utils/sidebar.scss';
@import 'src/assets/scss/utils/index.scss';
@import 'src/assets/scss/utils/ui/main-form.scss';
@import 'src/assets/scss/utils/ui/registration-form.scss';
@import 'src/assets/scss/utils/ui.scss';