footer.footer
    .footer__wrapper
        .footer__container._container
            .footer__body
                .footer__logo
                    a(href='/')
                        img(src='/assets/img/logo.svg' alt='logo')
                    p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                .footer__menu.menu
    .footer__wrapper
        .footer__container._container
            .footer__title
                p Copyright © 2018 Toxin отель. Все права защищены.
                button()._icon-twitter
                button()._icon-facebook
                button()._icon-instagram