footer.footer
    .footer__wrapper
        .footer__container._container
            .footer__body
                .footer__main
                    .footer__logo
                        a(href='/')
                            img(src='/assets/img/logo.svg' alt='logo')
                    .footer__text
                        p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                .footer__menu.menu-footer
                    .menu-footer__column
                        h3.menu-footer__title Навигация
                        ul.menu-footer__list
                            li.menu-footer__item
                                a(href='/').menu-footer__link О нас
                            li.menu-footer__item
                                a(href='/').menu-footer__link Новости
                            li.menu-footer__item
                                a(href='/').menu-footer__link Служба поддержки
                            li.menu-footer__item
                                a(href='/').menu-footer__link Услуги
                    .menu-footer__column
                        h3.menu-footer__title О нас
                        ul.menu-footer__list
                            li.menu-footer__item
                                a(href='/').menu-footer__link О сервисе
                            li.menu-footer__item
                                a(href='/').menu-footer__link Наша команда
                            li.menu-footer__item
                                a(href='/').menu-footer__link Вакансии
                            li.menu-footer__item
                                a(href='/').menu-footer__link Инвесторы
                    .menu-footer__column
                        h3.menu-footer__title Служба поддержки
                        ul.menu-footer__list
                            li.menu-footer__item
                                a(href='/').menu-footer__link Соглашения
                            li.menu-footer__item
                                a(href='/').menu-footer__link Сообщества
                            li.menu-footer__item
                                a(href='/').menu-footer__link Связь с нами
                .footer__subscribe.subscribe
                    h3.menu-footer__title Подписка
                    p Получайте специальные предложения и новости сервиса
                    form(action="#").subscribe__form
                        input(type="text" name="form" placeholder="Email").subscribe__input
                        button().subscribe__button._icon-arrow-forward
    .footer__wrapper
        .footer__container._container
            .footer__sub-footer
                .footer__copyright
                    p Copyright © 2018 Toxin отель. Все права защищены.
                .footer__social
                    a(href="https://twitter.com/" target="_blank" rel="noopener noreferrer")._icon-twitter
                    a(href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer")._icon-facebook
                    a(href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer")._icon-instagram