header.header
    .header__wrapper
        .header__container._container
            .header__body
                .header__main
                    a(href='/')
                        img(src='assets/img/logo.svg' alt='logo')
                .header__menu.menu-header
                    nav.menu-header__body
                        ul.menu-header__list
                            li.menu-header__item
                                a(href='#').menu-header__link О нас
                            li.menu-header__item
                                a(href='#').menu-header__link Услуги
                                ._icon-arrow
                                ul.menu-header__sub-list
                                    li.menu-header__sub-item
                                        a(href='#').menu-header__link 1
                                    li.menu-header__sub-item
                                        a(href='#').menu-header__link 2
                                    li.menu-header__sub-item
                                        a(href='#').menu-header__link 3
                            li.menu-header__item
                                a(href='#').menu-header__link Вакансии
                            li.menu-header__item
                                a(href='#').menu-header__link Новости
                            li.menu-header__item
                                a(href='#').menu-header__link Соглашения
                                ._icon-arrow
                                ul.menu-header__sub-list
                                    li.menu-header__sub-item
                                        a(href='#').menu-header__link 4
                                    li.menu-header__sub-item
                                        a(href='#').menu-header__link 5
                                    li.menu-header__sub-item
                                        a(href='#').menu-header__link 6
                .header__actions.actions
                    - var auth = 1
                    case auth
                        when 0
                            .actions__button._button-outlined
                                a(href='#') Войти
                            .actions__button._button-filled
                                a(href='#') Зарегистрироваться
                        when 1
                            .actions__auth Константин Константинопольский

