.sidebar
    form.sidebar__body
        .sidebar__item.input-group
            label(for="mainFormArrival").input-group__label Прибытие
            .input-group__group
                input(type="text" name="" id="mainFormArrival" placeholder="ДД.ММ.ГГГГ").input-group__input
                button().input-group__button._icon-arrow