extends ../layouts/main

block variables
    - var title = "Toxin"
    - var description = "toxin description"

block content
    .wrapper
        .content
            .main_bg
                ._container
                    section.main-section
                        include ../includes/modules/UI_main-form
                        p.main-section__title Лучшие номера для вашей работы, отдыха и просто вдохновения
