extends ../layouts/main

block variables
    - var title = "Toxin"
    - var description = "toxin description"

block content
    .wrapper
        .content
            .main_bg
                ._container
                    section.main-section
                        .main-section__item
                            include ../includes/ui/main-form
                            include ../includes/ui/reg-form
                            include ../includes/ui/auth-form
                            //include ../includes/ui/reserve-form
                        .main-section__item._end
                            p.main-section__title Лучшие номера для вашей работы, отдыха и просто вдохновения
