extends ../layouts/main

block variables
    - var title = "Toxin"
    - var description = "toxin description"

block content
    section.wrapper
        .content
            .mainbg
                ._container
                h1 hello world
