extends ../layouts/main

block variables
    - var title = "Toxin"
    - var description = "toxin description"

block content
    section.wrapper
        .content
            img(src='/assets/img/main_bg.png' alt='logo')
            ._container
