extends ../layouts/main

block variables
    - var title = "Search room"
    - var description = "toxin description"

block content
    .wrapper
        .content
            ._container
                section.section
                    include ../includes/modules/sidebar
                    .rooms
                        //- include ../includes/ui/room-card
                        //- include ../includes/ui/room-card
                        //- include ../includes/ui/room-card
                        //- include ../includes/ui/room-card
