.footer {
  flex: 0 0 auto;

  &__wrapper {
    border-top: rgba($mainColor, 25%) 1px solid;
  }
  &__container {

  }
  &__body {
    display: grid;
    grid-template-columns: 300px 1fr 260px;
    column-gap: 40px;
    padding: 100px 0;
    min-height: 372px;
    @media (max-width: $md1+px) {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 260px;
    }
    @media (max-width: $md3+px) {
      display: block;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: $md1+px) {
      grid-column: span 2;
      margin-bottom: 40px;
    }
  }
  &__logo {

  }
  &__text {
    margin: 20px 0;
  }
  &__menu {

  }
  &__subscribe {
    @media (max-width: $md3+px) {
      margin-top: 40px;
    }
  }
  &__sub-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    min-height: 70px;
  }
  &__copyright {

  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 120px;
  }
  &__social a {
    font-size: 24px;
    line-height: 1;
    color: $purpleColor;
  }
}
.menu-footer {
  @media (min-width: $md3+px) {
    display: flex;
  }
  &__column {
    @media (min-width: $md3+px) {
      flex: 0 1 33.333%;
    }
    @media (max-width: $md3+px) {
      margin-top: 40px;
    }
  }
  &__title {
    margin-top: 5px;
    margin-bottom: 21px;
  }
  &__list {
    @media (max-width: $md3+px) {
      display: none;
    }
  }
  &__item {
      &:not(:last-child) {
        margin: 0 0 20px 0;
      }
  }
  &__link {
    color: rgba($mainColor, 50%);
    line-height: 120%;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $purpleColor;
      }
    }
  }
}
.subscribe {
  &__form {
    display: flex;
    position: relative;
    margin-top: 20px;
    min-width: 260px;
    min-height: 44px;
    border: rgba($mainColor, 25%) 1px solid;
    border-radius: 4px;
  }
  &__input {
    width: 100%;
    padding-left: 15px;
    color: rgba($mainColor, 50%);
    outline: none;
    background: transparent;
  }
  &__form:focus, &__form:hover {
    box-shadow: 0 0 40px $purpleColor;
  }
  &__button {
    flex: 0 0 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: transparent;
    color: $purpleColor;
    cursor: pointer;
  }
}