form(action="#").form
    .form__wrapper
        .form__container
            .form__body
                h1.form__title Войти
                .form__item
                    input(type="email" name="authFormEmail" id="authFormEmail" placeholder="Email").form__input
                .form__item
                    input(type="password" name="authFormPassword" id="authFormPassword" placeholder="Пароль").form__input
                .form__button
                    button(type="submit").button._button-group Войти
                    ._icon-arrow-forward
                .form__login
                    p Нет аккаунта на Toxin?
                    button(type="submit").button._button-outlined Создать