form(action="#").main-form
    .main-form__wrapper
        .main-form__container
            .main-form__body
                h1.main-form__title Найдём номера под ваши пожелания
                .row
                    .main-form__item.half-item
                        label(for="mainFormArrival").main-form__label Прибытие
                        input(type="text" name="mainFormArrival" id="mainFormArrival" placeholder="ДД.ММ.ГГГГ").main-form__input
                    .main-form__item.half-item
                        label(for="mainFormDeparture").main-form__label Выезд
                        input(type="text" name="mainFormDeparture" id="mainFormDeparture" placeholder="ДД.ММ.ГГГГ").main-form__input
                .main-form__item
                    label(for="mainFormGuests").main-form__label Гости
                    input(type="text" name="mainFormGuests" id="mainFormGuests" placeholder="Сколько гостей").main-form__input
                .main-form__button
                    button(type="submit").button._button-group Подобрать номер
                    ._icon-arrow-forward