form(action="#").form
    .form__wrapper
        .form__container
            .form__body
                h1.form__title Регистрация аккаунта
                .form__item
                    input(type="text" name="regFormName" id="regFormName" placeholder="Имя").form__input
                .form__item
                    input(type="text" name="regFormLastname" id="regFormLastname" placeholder="Фамилия").form__input
                .form__item.radio
                    .radio__item
                        input(type="radio" checked value="male" id="formMale" name="male").radio__input
                        label(for="formMale").radio__label Мужчина
                    .radio__item
                        input(type="radio" value="female" id="formFemale" name="male").radio__input
                        label(for="formFemale").radio__label Женщина
                .form__item
                    label(for="regFormDate").form__label Дата рождения
                    input(type="text" name="regFormDate" id="regFormDate" placeholder="ДД.ММ.ГГГГ").form__input
                .form__item
                    label(for="regFormEmail").form__label Данные для входа в сервис
                    input(type="email" name="regFormEmail" id="regFormEmail" placeholder="Email").form__input
                .form__item
                    input(type="password" name="regFormPassword" id="regFormPassword" placeholder="Пароль").form__input
                .form__item.switch
                    input(type="checkbox" name="regFormSwitch" id="regFormSwitch").switch__input
                    label(for="regFormSwitch").switch__label Получать спецпредложения
                .form__button
                    button(type="submit").button._button-group Перейти к оплате
                    ._icon-arrow-forward
                .form__login
                    p Уже есть аккаунт на Toxin
                    button(type="submit").button._button-outlined Войти