.card__wrapper
    a(href="#")
        .slider
            .slider__item
                img(src="/assets/img/rooms/1.jpg")

            .slider__item
                img(src="/assets/img/rooms/2.jpg")

            .slider__item
                img(src="/assets/img/rooms/3.jpg")

            a(class="previous") &#10094
            a(class="next") &#10095
            ol.indicators
                li.indicators__item
                li.indicators__item
                li.indicators__item
    .card__body
        .card__props
            h3.card__title №888
            span.card__category Люкс
            span.card__cost 9 990₽ в сутки
        .card__reviews
            ._icon-star.card__rating
            span.card__testimonials 145 Отзывов
