.card__wrapper
    a(href="#")
        .slider
            .slider__item
                img(src="/assets/img/rooms/1.jpg")

            .slider__item
                img(src="/assets/img/rooms/2.jpg")

            .slider__item
                img(src="/assets/img/rooms/3.jpg")

            a(class="previous") &#10094
            a(class="next") &#10095
            ol.indicators
                li.indicators__item
                li.indicators__item
                li.indicators__item
    .card__body
        .card__props
            .card__title № <span>888</span>
            .card__category Люкс
            .card__cost <span>9 990₽</span> в сутки
        .card__reviews
            .card__rating
                ._icon-star
                ._icon-star
                ._icon-star
                ._icon-star
                ._icon-star
            .card__testimonials <span>145</span> Отзывов
