.slider
    .slider__item
        img(src="https://s3.tproger.ru/uploads/2020/07/field.jpg")

    .slider__item
        img(src="https://s3.tproger.ru/uploads/2020/07/rose.jpg")

    .slider__item
        img(src="https://s3.tproger.ru/uploads/2020/07/leaf.jpg")

    a(class="previous") &#10094
    a(class="next") &#10095
    ol.indicators
        li.indicators__item
        li.indicators__item
        li.indicators__item